<a href="https://colab.research.google.com/github/Bhagyanandinipillikalla/DataAnalytics/blob/main/PandasProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
import kagglehub
path = kagglehub.dataset_download("carrie1/ecommerce-data")

Using Colab cache for faster access to the 'ecommerce-data' dataset.

# PART A: Initial Data Exploration

**Task 1: Load the dataset and display basic information about its structure.**

In [3]:
df=pd.read_csv('/kaggle/input/ecommerce-data/data.csv',encoding='ISO-8859-1')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

**Task 2: Show the first 15 and last 15 records.**

In [4]:
df.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [5]:
df.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

**Task 3: Display a random sample of 20 transactions.**

In [6]:
df.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
379253,569683,84879,ASSORTED COLOUR BIRD ORNAMENT,16,10/5/2011 14:39,1.69,15953.0,United Kingdom
120757,546670,21354,TOAST ITS - BEST MUM,4,3/15/2011 15:37,1.25,13451.0,United Kingdom
246601,558707,21872,GLAMOROUS MUG,2,7/1/2011 12:58,1.25,12748.0,United Kingdom
171535,551426,21915,RED HARMONICA IN BOX,12,4/28/2011 14:39,1.25,14022.0,United Kingdom
400930,571408,22554,PLASTERS IN TIN WOODLAND ANIMALS,1,10/17/2011 12:22,1.65,15012.0,United Kingdom
292156,562540,22800,ANTIQUE TALL SWIRLGLASS TRINKET POT,2,8/5/2011 15:38,3.75,17400.0,United Kingdom
117883,546406,90214R,"LETTER ""R"" BLING KEY RING",1,3/11/2011 16:21,0.83,NaN,United Kingdom
236891,557788,21232,STRAWBERRY CERAMIC TRINKET BOX,1,6/22/2011 16:32,1.06,14088.0,United Kingdom
204580,554672,22386,JUMBO BAG PINK POLKADOT,10,5/25/2011 15:54,2.08,14415.0,United Kingdom
372045,569230,21875,KINGS CHOICE MUG,1,10/2/2011 15:07,1.25,16533.0,United Kingdom
489204,577971,22606,NaN,1,11/22/2011 12:12,0.00,NaN,United Kingdom
510050,579414,22580,ADVENT CALENDAR GINGHAM SACK,4,11/29/2011 12:52,5.95,14719.0,United Kingdom
247842,558775,48173C,DOORMAT BLACK FLOCK,300,7/4/2011 10:20,4.58,18102.0,United Kingdom
124664,546984,20752,BLUE POLKADOT WASHING UP GLOVES,1,3/18/2011 12:35,2.10,15019.0,United Kingdom
119156,546530,22417,PACK OF 60 SPACEBOY CAKE CASES,240,3/14/2011 13:25,0.55,17404.0,Sweden
300467,563195,23029,DRAWER KNOB CRACKLE GLAZE GREEN,6,8/12/2011 16:36,3.29,NaN,United Kingdom
313765,564536,22197,POPCORN HOLDER,5,8/25/2011 15:12,0.85,13159.0,United Kingdom
160347,550458,22916,HERB MARKER THYME,2,4/18/2011 13:13,1.63,NaN,United Kingdom
74470,542428,22544,MINI JIGSAW SPACEBOY,240,1/28/2011 10:00,0.42,17404.0,Sweden
92365,544186,84509A,SET OF 4 ENGLISH ROSE PLACEMATS,2,2/16/2011 15:56,7.46,NaN,United Kingdom

**Task 4: Find out how many rows and columns are in the dataset.**

In [7]:
df.shape

(541909, 8)

**Task 5: List all column names.**

In [8]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

**Task 6: Check the data type of each column.**

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

**Task 7: Get a statistical summary of all numerical columns.**

In [10]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

# PART B: Data Quality Assessment

**Task 8: Identify which columns have missing values and how many.**

In [11]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

**Task 9: Find out how many transactions have missing CustomerID.**

In [12]:
df['CustomerID'].isna().sum()

np.int64(135080)

**Task 10: Check if there are any duplicate rows in the dataset**

In [13]:
df.duplicated().any()

np.True_

**Task 11: Identify transactions where Quantity is less than or equal to zero.**

In [14]:
df[df['Quantity']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

**Task 12: Find transactions where UnitPrice is zero or negative.**

In [15]:
df[df['UnitPrice']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

**Task 13: Identify how many invoice numbers start with the letter 'C'.**

In [16]:
df['InvoiceNo'].astype(str).str.startswith('C').sum()

np.int64(9288)

**Task 14: Check if the Description column has any leading or trailing spaces.**

In [17]:
(df['Description']!=df['Description'].str.strip()).any()

np.True_

# PART C: Data Cleaning

**Task 15: Remove all rows where CustomerID is missing**

In [18]:
df=df.dropna(subset=['CustomerID'])

In [19]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

**Task 16: For missing product descriptions, fill them with "Unknown Product".**

In [20]:
df.loc[:,'Description']=df['Description'].fillna('Unknown Product')

**Task 17: Remove all duplicate transactions.**

In [21]:
df=df.drop_duplicates()

**Task 18: Remove transactions where Quantity is less than or equal to zero.**

In [22]:
df=df[df['Quantity']>0].copy()

**Task 19: Remove transactions where UnitPrice is less than or equal to zero.**

In [23]:
df=df[df['UnitPrice']>0].copy()

**Task 20: Remove all cancelled transactions (invoices starting with 'C').**

In [24]:
df.drop(df[df['InvoiceNo'].astype(str).str.startswith('C')].index, inplace=True)

**Task 21: Change the column name "Description" to "ProductName".**

In [25]:
df.rename(columns={'Description':'ProductName'},inplace=True)

**Task 22: Ensure the InvoiceDate column is in proper date-time format.**

In [26]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'],errors='coerce')

**Task 23: Convert CustomerID to integer type.**

In [27]:
df['CustomerID']=df['CustomerID'].astype(int)

**Task 24: Reset the index after all cleaning operations.**

In [28]:
df.reset_index(drop=True,inplace=True)

In [29]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

# PART D: Feature Creation

**Task 25: Create a new column called "TotalPrice" that represents the total value of each transaction.**

In [30]:
df['TotalPrice']=df['Quantity']*df['UnitPrice']

**Task 26: Extract the year from InvoiceDate and store it in a new column "Year".**

In [31]:
df['Year']=df['InvoiceDate'].dt.year

**Task 27: Extract the month from InvoiceDate and store it in a new column "Month".**

In [32]:
df['Month']=df['InvoiceDate'].dt.month

**ask 28: Extract the month from InvoiceDate and store it in a new column "Day".**

In [33]:
df['Day']=df['InvoiceDate'].dt.day

**Task 29: Extract the month from InvoiceDate and store it in a new column "Hour".**

In [34]:
df['Hour']=df['InvoiceDate'].dt.hour

**Task 30: Create a column "DayOfWeek" showing which day of the week the transaction occurred.**

In [35]:
df['DayOfWeek']=df['InvoiceDate'].dt.day_name()

**Task 31: Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.**

In [36]:
df['Quarter']='Q'+df['InvoiceDate'].dt.quarter.astype(str)

**Task 32: Create a column "RevenueCategory" with three levels:**
*  **"Low" for transactions under Â£10**
*  **"Medium" for transactions between Â£10 and Â£100**
* **"High" for transactions above Â£100**

In [37]:
cond=[
    df["TotalPrice"] < 10,
    (df["TotalPrice"] >= 10) & (df["TotalPrice"] <= 100),
    df["TotalPrice"] > 100
]
choices = ["Low", "Medium", "High"]
df["RevenueCategory"] = np.select(cond, choices,default="")


**Task 33: Create a column "OrderSize" with three levels:**

*   **"Small" for Quantity less than 5**
*   **"Medium" for Quantity between 5 and 20**
*   **"Large" for Quantity greater than 20**

In [38]:
cond=[
    df["Quantity"] <5,
    (df["Quantity"] >= 5) & (df["Quantity"] <=20),
    df["Quantity"] >20
]
choices = ["Small", "Medium", "Large"]
df["OrderSize"] = np.select(cond, choices,default="")

**Task 34: Create a column that shows the length of each product name.**

In [39]:
df['Product Name Length']=df['ProductName'].astype(str).str.len()

# PART E: Text Data Processing

**Task 35: Convert all product names to uppercase.**

In [40]:
df['ProductName']=df['ProductName'].str.upper()

**Task 36: Remove any extra spaces from the Country column.**

In [41]:
df['Country']=df['Country'].str.strip()

**Task 37: Find all products that contain the word "BAG" in their name.**

In [42]:
df[df['ProductName'].str.contains('BAG')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583,France,17.0,2010,12,1,8,Wednesday,Q4,Medium,Medium,31
86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,23
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,30
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688,United Kingdom,29.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,31
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688,United Kingdom,8.5,2010,12,1,9,Wednesday,Q4,Low,Medium,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392616,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581,United Kingdom,53.7,2011,12,9,12,Friday,Q4,Medium,Large,28
392617,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581,United Kingdom,35.8,2011,12,9,12,Friday,Q4,Medium,Medium,25
392618,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,United Kingdom,71.6,2011,12,9,12,Friday,Q4,Medium,Large,22
392645,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.5,2011,12,9,12,Friday,Q4,Medium,Medium,27
392648,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.0,2011,12,9,12,Friday,Q4,Medium,Large,23

**Task 38: Find all products whose names start with "WHITE".**

In [43]:
df[df['ProductName'].str.startswith('WHITE',na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,19
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,Wednesday,Q4,Medium,Medium,34
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850,United Kingdom,20.34,2010,12,1,9,Wednesday,Q4,Medium,Medium,19
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,Wednesday,Q4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392022,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796,United Kingdom,17.70,2011,12,8,19,Thursday,Q4,Medium,Medium,34
392135,581476,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 08:48:00,4.25,12433,Norway,17.00,2011,12,9,8,Friday,Q4,Medium,Small,29
392372,581502,23210,WHITE ROCKING HORSE HAND PAINTED,12,2011-12-09 10:51:00,1.25,15910,United Kingdom,15.00,2011,12,9,10,Friday,Q4,Medium,Medium,32
392439,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446,United Kingdom,1.45,2011,12,9,11,Friday,Q4,Low,Small,35
392498,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626,United Kingdom,17.00,2011,12,9,11,Friday,Q4,Medium,Small,29

**Task 39: Find all products whose names end with "HOLDER".**

In [44]:
df[df['ProductName'].str.endswith('HOLDER',na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,12,1,8,Wednesday,Q4,Medium,Medium,34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,12,1,8,Wednesday,Q4,Medium,Medium,33
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,Q4,Medium,Medium,34
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,12,1,9,Wednesday,Q4,Medium,Medium,33
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,Q4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,12,9,11,Friday,Q4,Medium,Large,32
392524,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,12,9,12,Friday,Q4,Low,Small,26
392608,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,12,9,12,Friday,Q4,Medium,Large,14
392655,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,12,9,12,Friday,Q4,Medium,Medium,30
392659,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,12,9,12,Friday,Q4,Medium,Large,34

**Task 40: Replace "United Kingdom" with "UK" in the Country column.**

In [45]:
df['Country']=df['Country'].replace('United Kingdom','UK')

**Task 41: Replace "EIRE" with "Ireland" in the Country column.**

In [46]:
df['Country']=df['Country'].replace('EIRE','Ireland')

# PART F: Data Selection and Filtering

**Task 42: Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.**

In [47]:
df[['InvoiceNo','ProductName','Quantity','UnitPrice','Country']]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,UK
1,536365,WHITE METAL LANTERN,6,3.39,UK
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,UK
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,UK
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,UK
...,...,...,...,...,...
392687,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
392688,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
392689,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
392690,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
392691,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

**Task 43: Display transactions from Germany only.**

In [48]:
df[df['Country']=='Germany']

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
1073,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662,Germany,17.70,2010,12,1,13,Wednesday,Q4,Medium,Medium,23
1074,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662,Germany,15.30,2010,12,1,13,Wednesday,Q4,Medium,Medium,35
1075,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662,Germany,10.20,2010,12,1,13,Wednesday,Q4,Medium,Medium,34
1076,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662,Germany,19.80,2010,12,1,13,Wednesday,Q4,Medium,Medium,29
1077,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662,Germany,23.40,2010,12,1,13,Wednesday,Q4,Medium,Medium,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392584,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,2011,12,9,12,Friday,Q4,Medium,Medium,28
392585,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,Friday,Q4,Medium,Medium,32
392586,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,Friday,Q4,Medium,Medium,29
392587,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,2011,12,9,12,Friday,Q4,Medium,Medium,32
392588,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,2011,12,9,12,Friday,Q4,Medium,Medium,27

**Task 44: Display transactions where Quantity is greater than 50.**

In [49]:
df[df['Quantity']>50]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,Wednesday,Q4,High,Large,31
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291,UK,163.20,2010,12,1,9,Wednesday,Q4,High,Large,32
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688,UK,50.40,2010,12,1,9,Wednesday,Q4,Medium,Large,31
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688,UK,36.48,2010,12,1,9,Wednesday,Q4,Medium,Large,34
174,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,UK,165.00,2010,12,1,9,Wednesday,Q4,High,Large,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392488,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102,UK,469.44,2011,12,9,11,Friday,Q4,High,Large,26
392489,581567,21417,COCKLE SHELL DISH,84,2011-12-09 11:56:00,0.79,16626,UK,66.36,2011,12,9,11,Friday,Q4,Medium,Large,17
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,UK,79.20,2011,12,9,11,Friday,Q4,Medium,Large,32
392529,581571,23167,SMALL CERAMIC TOP STORAGE JAR,96,2011-12-09 12:00:00,0.69,15311,UK,66.24,2011,12,9,12,Friday,Q4,Medium,Large,30
392650,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777,UK,51.84,2011,12,9,12,Friday,Q4,Medium,Large,32

**Task 45: Display transactions where UnitPrice is between Â£5 and Â£10.**

In [50]:
df[(df['UnitPrice']>=5)&(df['UnitPrice']<=10)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,12,1,8,Wednesday,Q4,Medium,Small,28
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,UK,19.90,2010,12,1,8,Wednesday,Q4,Medium,Small,30
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,Wednesday,Q4,Medium,Small,24
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,Wednesday,Q4,Medium,Small,24
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,UK,31.80,2010,12,1,8,Wednesday,Q4,Medium,Small,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392638,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748,UK,6.75,2011,12,9,12,Friday,Q4,Low,Small,24
392641,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748,UK,11.50,2011,12,9,12,Friday,Q4,Medium,Small,13
392661,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804,UK,17.85,2011,12,9,12,Friday,Q4,Medium,Small,21
392675,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,Friday,Q4,High,Large,29
392676,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,Friday,Q4,Medium,Medium,21

**Task 46: Display transactions from France with Quantity greater than 20.**

In [51]:
df[(df['Country']=='France')&(df['Quantity']>20)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,Q4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,Q4,Medium,Large,25
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,12,1,8,Wednesday,Q4,Medium,Large,16
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583,France,40.80,2010,12,1,8,Wednesday,Q4,Medium,Large,27
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583,France,30.00,2010,12,1,8,Wednesday,Q4,Medium,Large,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387471,581001,23084,RABBIT NIGHT LIGHT,24,2011-12-07 08:07:00,1.79,12583,France,42.96,2011,12,7,8,Wednesday,Q4,Medium,Large,18
387485,581001,22726,ALARM CLOCK BAKELIKE GREEN,24,2011-12-07 08:07:00,3.75,12583,France,90.00,2011,12,7,8,Wednesday,Q4,Medium,Large,26
389063,581171,22966,GINGERBREAD MAN COOKIE CUTTER,24,2011-12-07 15:02:00,1.25,12615,France,30.00,2011,12,7,15,Wednesday,Q4,Medium,Large,29
389074,581171,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,2011-12-07 15:02:00,0.29,12615,France,13.92,2011,12,7,15,Wednesday,Q4,Medium,Large,33
389081,581171,23084,RABBIT NIGHT LIGHT,24,2011-12-07 15:02:00,1.79,12615,France,42.96,2011,12,7,15,Wednesday,Q4,Medium,Large,18

**Task 47: Display transactions from December 2010.**

In [52]:
df[(df['InvoiceDate'].dt.year==2010)&(df['InvoiceDate'].dt.month==12)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25665,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,12,23,16,Thursday,Q4,Low,Small,33
25666,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,Thursday,Q4,Low,Small,21
25667,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,Thursday,Q4,Low,Small,22
25668,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,12,23,16,Thursday,Q4,Low,Small,27
25669,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,12,23,16,Thursday,Q4,Low,Small,19

**Task 48: Display transactions that occurred on weekends.**

In [53]:
df[df['InvoiceDate'].dt.dayofweek>=5]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
4943,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,Sunday,Q4,Medium,Medium,33
4944,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,Sunday,Q4,Medium,Medium,32
4945,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,Sunday,Q4,Medium,Small,31
4946,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,Q4,Medium,Medium,30
4947,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,Q4,Medium,Medium,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381605,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,12,4,16,Sunday,Q4,Medium,Medium,25
381606,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,12,4,16,Sunday,Q4,Low,Medium,18
381607,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,12,4,16,Sunday,Q4,Medium,Medium,23
381608,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,12,4,16,Sunday,Q4,Medium,Small,32
381609,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,12,4,16,Sunday,Q4,Medium,Small,7

**Task 49: Display the top 10 transactions by TotalPrice.**

In [54]:
df.sort_values(by='TotalPrice',ascending=False).head(10)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,Q4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,Q1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,Q2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,Q2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,Q3,High,Large,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,Q2,High,Large,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,Q1,High,Large,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,Q4,High,Large,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,Q1,High,Large,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,Q2,High,Large,34

**Task 50: Display the bottom 15 transactions by TotalPrice.**

In [55]:
df.sort_values(by='TotalPrice',ascending=False).tail(15)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
282970,570983,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-13 11:57:00,0.120,14963,UK,0.120,2011,10,13,11,Thursday,Q4,Low,Small,27
390034,581310,22422,TOOTHPASTE TUBE PEN,1,2011-12-08 11:43:00,0.120,16442,UK,0.120,2011,12,8,11,Thursday,Q4,Low,Small,19
297409,572291,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-23 12:46:00,0.120,16931,UK,0.120,2011,10,23,12,Sunday,Q4,Low,Small,27
226996,565426,21403,BLUE EGG SPOON,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,Q3,Low,Small,15
226985,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,Q3,Low,Small,28
184362,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,7,18,11,Monday,Q3,Low,Small,35
362505,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,Thursday,Q4,Low,Small,30
167801,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,Monday,Q2,Low,Small,30
176900,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,Friday,Q3,Low,Small,30
196908,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,Sunday,Q3,Low,Small,6
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,Q4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,Q3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,Q3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,Q3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,Q2,Low,Small,26

**Task 51: Find all transactions from either UK, Germany, or France.**

In [56]:
df[df['Country'].isin(['UK','Germany','France'])]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,Q4,Medium,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,Q4,Medium,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,Q4,Medium,Small,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,Q4,Medium,Small,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,Q4,Medium,Small,29

**Task 52: Find transactions where TotalPrice is above the 95th percentile.**

In [57]:
df[df['TotalPrice']>df['TotalPrice'].quantile(0.95)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,Q4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,Q4,Medium,Large,25
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,Wednesday,Q4,Medium,Large,35
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,Wednesday,Q4,Medium,Large,32
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,Wednesday,Q4,High,Large,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392610,581579,23313,VINTAGE CHRISTMAS BUNTING,15,2011-12-09 12:19:00,4.95,17581,UK,74.25,2011,12,9,12,Friday,Q4,Medium,Medium,25
392618,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,UK,71.60,2011,12,9,12,Friday,Q4,Medium,Large,22
392651,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777,UK,88.80,2011,12,9,12,Friday,Q4,Medium,Large,31
392675,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,Friday,Q4,High,Large,29
392676,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,Friday,Q4,Medium,Medium,21

**PART G: Sorting Operations**

**Task 53: Sort the entire dataset by InvoiceDate in ascending order.**

In [58]:
df.sort_values(by='InvoiceDate',ascending=True)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392679,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,Friday,Q4,Medium,Medium,25
392678,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,Friday,Q4,Medium,Medium,30
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,Q4,Medium,Small,31
392683,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,12,9,12,Friday,Q4,Medium,Small,26
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,Q4,Medium,Small,29

**Task 54: Sort the dataset by TotalPrice in descending order.**

In [59]:
df.sort_values(by='TotalPrice',ascending=False)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.080,16446,UK,168469.600,2011,12,9,9,Friday,Q4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.040,12346,UK,77183.600,2011,1,18,10,Tuesday,Q1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.500,15098,UK,38970.000,2011,6,10,15,Friday,Q2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.750,16029,UK,8142.750,2011,5,3,13,Tuesday,Q2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.060,17450,UK,7144.720,2011,9,20,11,Tuesday,Q3,High,Large,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,Q4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,Q3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,Q3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,Q3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,Q2,Low,Small,26

**Task 55: Sort by Country (ascending) and then by TotalPrice (descending).**

In [60]:
df.sort_values(by=['Country','TotalPrice'],ascending=[True,False])

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
340947,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,11,15,10,Tuesday,Q4,High,Large,18
212475,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,8,18,8,Thursday,Q3,High,Large,25
68524,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,3,3,10,Thursday,Q1,High,Large,29
212545,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,8,18,8,Thursday,Q3,High,Large,28
27583,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,1,6,11,Thursday,Q1,High,Large,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194930,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,7,28,16,Thursday,Q3,Low,Small,31
194811,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,7,28,16,Thursday,Q3,Low,Small,35
194875,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,Q3,Low,Small,29
194925,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,7,28,16,Thursday,Q3,Low,Small,29
194900,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,7,28,16,Thursday,Q3,Low,Small,33

**Task 56: Find the 20 highest-value transactions.**

In [61]:
df.sort_values(by='TotalPrice',ascending=False).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,Q4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,Q1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,Q2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,Q2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,Q3,High,Large,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,Q2,High,Large,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,Q1,High,Large,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,Q4,High,Large,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,Q1,High,Large,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,Q2,High,Large,34
32259,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,Tuesday,Q1,High,Large,18
169598,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,Thursday,Q2,High,Large,21
108202,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,Monday,Q2,High,Large,18
201787,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,Thursday,Q3,High,Large,29
305341,573077,M,MANUAL,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,Q4,High,Small,6
305365,573080,M,MANUAL,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,Thursday,Q4,High,Small,6
31657,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,1,11,8,Tuesday,Q1,High,Large,21
292020,571751,M,MANUAL,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,10,19,11,Wednesday,Q4,High,Small,6
388138,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,12,7,12,Wednesday,Q4,High,Large,31
10525,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,12,7,16,Tuesday,Q4,High,Large,28

**Task 57: Find the 20 lowest-value transactions (excluding returns).**

In [62]:
df.sort_values(by='TotalPrice',ascending=False).tail(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length
386153,580884,22422,TOOTHPASTE TUBE PEN,1,2011-12-06 12:21:00,0.120,15907,UK,0.120,2011,12,6,12,Tuesday,Q4,Low,Small,19
335405,575943,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-11-13 11:44:00,0.120,17920,UK,0.120,2011,11,13,11,Sunday,Q4,Low,Small,31
391477,581425,22422,TOOTHPASTE TUBE PEN,1,2011-12-08 15:31:00,0.120,14796,UK,0.120,2011,12,8,15,Thursday,Q4,Low,Small,19
321555,574682,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-11-06 12:44:00,0.120,14963,UK,0.120,2011,11,6,12,Sunday,Q4,Low,Small,31
217980,564191,85204,HANGING WOOD AND FELT FLOWER,1,2011-08-23 16:16:00,0.120,17315,UK,0.120,2011,8,23,16,Tuesday,Q3,Low,Small,28
282970,570983,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-13 11:57:00,0.120,14963,UK,0.120,2011,10,13,11,Thursday,Q4,Low,Small,27
390034,581310,22422,TOOTHPASTE TUBE PEN,1,2011-12-08 11:43:00,0.120,16442,UK,0.120,2011,12,8,11,Thursday,Q4,Low,Small,19
297409,572291,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-23 12:46:00,0.120,16931,UK,0.120,2011,10,23,12,Sunday,Q4,Low,Small,27
226996,565426,21403,BLUE EGG SPOON,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,Q3,Low,Small,15
226985,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,Q3,Low,Small,28
184362,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,7,18,11,Monday,Q3,Low,Small,35
362505,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,Thursday,Q4,Low,Small,30
167801,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,Monday,Q2,Low,Small,30
176900,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,Friday,Q3,Low,Small,30
196908,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,Sunday,Q3,Low,Small,6
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,Q4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,Q3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,Q3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,Q3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,Q2,Low,Small,26

# PART H: Aggregation and Summary Statistics

**Task 58: Calculate the total revenue generated across all transactions.**

In [63]:
df['TotalPrice'].sum()

np.float64(8887208.894)

**Task 59: Calculate the average transaction value.**

In [64]:
df['TotalPrice'].mean()

np.float64(22.6314997351614)

**Task 60: Find the maximum and minimum transaction values.**

In [65]:
df['TotalPrice'].max()

168469.6

In [66]:
df['TotalPrice'].min()

0.001

**Task 61: Calculate the total number of unique customers.**

In [67]:
df['CustomerID'].nunique()

4338

**Task 62: Calculate the total number of unique products sold.**

In [68]:
df['ProductName'].nunique()

3877

**Task 63: Find out how many unique countries are represented in the data.**

In [69]:
df['Country'].nunique()

37

**Task 64: Calculate the average number of items per transaction.**

In [70]:
df['Quantity'].mean()

np.float64(13.1197019547126)

**Task 65: Find which product appears most frequently in transactions.**

In [71]:
df['ProductName'].value_counts().idxmax()

'WHITE HANGING HEART T-LIGHT HOLDER'

# PART I: Country-wise Analysis

**Task 66: Calculate total revenue for each country.**

In [72]:
total_revenue=df.groupby('Country')['TotalPrice'].sum()

**Task 67: Find the top 10 countries by total revenue.**

In [73]:
total_revenue.sort_values(ascending=False).head(10)

Country
UK             7285024.644
Netherlands     285446.340
Ireland         265262.460
Germany         228678.400
France          208934.310
Australia       138453.810
Spain            61558.560
Switzerland      56443.950
Belgium          41196.340
Sweden           38367.830
Name: TotalPrice, dtype: float64

**Task 68: Calculate the number of transactions per country.**

In [74]:
df.groupby('Country')['InvoiceNo'].nunique()

Country
Australia                  57
Austria                    17
Bahrain                     2
Belgium                    98
Brazil                      1
Canada                      6
Channel Islands            26
Cyprus                     16
Czech Republic              2
Denmark                    18
European Community          4
Finland                    41
France                    389
Germany                   457
Greece                      5
Iceland                     7
Ireland                   260
Israel                      5
Italy                      38
Japan                      19
Lebanon                     1
Lithuania                   4
Malta                       5
Netherlands                94
Norway                     36
Poland                     19
Portugal                   57
RSA                         1
Saudi Arabia                1
Singapore                   7
Spain                      90
Sweden                     36
Switzerland                51
UK                      16646
USA                         5
United Arab Emirates        3
Unspecified                 8
Name: InvoiceNo, dtype: int64

**Task 69: Calculate the average transaction value for each country.**

In [75]:
avg_country=df.groupby(['Country','InvoiceNo'])['TotalPrice'].sum().groupby('Country').mean()

**Task 70: Find which country has the highest average order value.**

In [76]:
avg_country.idxmax()

'Singapore'

**Task 71: Calculate the total quantity of products sold to each country**

In [77]:
df.groupby('Country')['Quantity'].sum()

Country
Australia                 83891
Austria                    4881
Bahrain                     260
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9485
Cyprus                     6340
Czech Republic              671
Denmark                    8235
European Community          499
Finland                   10704
France                   111428
Germany                  119154
Greece                     1557
Iceland                    2458
Ireland                  140133
Israel                     4043
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200361
Norway                    19336
Poland                     3684
Portugal                  16095
RSA                         351
Saudi Arabia                 80
Singapore                  5241
Spain                     27933
Sweden                    36078
Switzerland               30082
UK                      4241305
USA                        2458
United Arab Emirates        982
Unspecified                1785
Name: Quantity, dtype: int64

 **Task 72: Find the country with the most unique customers.**

In [78]:
df.groupby('Country')['CustomerID'].nunique().idxmax()

'UK'

# PART J: Time-based Analysis

**Task 73: Calculate total revenue for each month.**

In [79]:
month_sales=df.groupby(df['InvoiceDate'].dt.to_period('M'))['TotalPrice'].sum()

**Task 74: Find which month had the highest sales.**

In [80]:
month_sales.idxmax()

Period('2011-11', 'M')

**Task 75: Calculate revenue for each quarter.**

In [81]:
df.groupby(df['InvoiceDate'].dt.to_period('Q'))['TotalPrice'].sum()

InvoiceDate
2010Q4     570422.730
2011Q1    1608267.990
2011Q2    1805775.531
2011Q3    2193704.143
2011Q4    2709038.500
Freq: Q-DEC, Name: TotalPrice, dtype: float64

**Task 76: Calculate the number of transactions per day of the week.**

In [82]:
df.groupby(df['InvoiceDate'].dt.day_name())['InvoiceNo'].nunique()

InvoiceDate
Friday       2829
Monday       2863
Sunday       2169
Thursday     4032
Tuesday      3184
Wednesday    3455
Name: InvoiceNo, dtype: int64

**Task 77: Find which day of the week has the highest average revenue.**

In [83]:
df.groupby(df['InvoiceDate'].dt.day_name())['TotalPrice'].mean().idxmax()

'Friday'

**Task 78: Calculate hourly sales patterns (revenue by hour of day).**

In [84]:
df.groupby(df['InvoiceDate'].dt.hour)['TotalPrice'].sum()

InvoiceDate
6           4.250
7       31059.210
8      281997.790
9      842392.341
10    1259267.591
11    1101177.600
12    1373695.390
13    1168724.200
14     991992.821
15     963559.680
16     467380.560
17     233811.591
18     104744.990
19      48568.400
20      18832.480
Name: TotalPrice, dtype: float64

**Task 79: Compare sales between 2010 and 2011.**

In [115]:
df.groupby(df['InvoiceDate'].dt.year)['TotalPrice'].sum()

InvoiceDate
2010     570422.730
2011    8316786.164
Name: TotalPrice, dtype: float64

**Task 80: Calculate month-over-month revenue growth rate.**

In [116]:
df.groupby(df['InvoiceDate'].dt.to_period('M'))['TotalPrice'].sum()

InvoiceDate
2010-12     570422.730
2011-01     568101.310
2011-02     446084.920
2011-03     594081.760
2011-04     468374.331
2011-05     677355.150
2011-06     660046.050
2011-07     598962.901
2011-08     644051.040
2011-09     950690.202
2011-10    1035642.450
2011-11    1156205.610
2011-12     517190.440
Freq: M, Name: TotalPrice, dtype: float64

# PART K: Customer Analysis

**Task 81: Calculate total spending for each customer.**

In [117]:
high_value=df.groupby('CustomerID')['TotalPrice'].sum()

**Task 82: Find the top 20 customers by total spending.**

In [86]:
df.groupby('CustomerID')['TotalPrice'].sum().sort_values(ascending=False).head(20)

CustomerID
14646    280206.02
18102    259657.30
17450    194390.79
16446    168472.50
14911    143711.17
12415    124914.53
14156    117210.08
17511     91062.38
16029     80850.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60632.75
13089     58762.08
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
Name: TotalPrice, dtype: float64

**Task 83: Calculate the number of transactions per customer.**

In [87]:
tras_customer=df.groupby('CustomerID')['InvoiceNo'].nunique()

**Task 84: Find the average order value for each customer.**

In [88]:
df.groupby(['CustomerID','InvoiceNo'])['TotalPrice'].sum().groupby('CustomerID').mean()

CustomerID
12346    77183.600000
12347      615.714286
12348      449.310000
12349     1757.550000
12350      334.400000
             ...
18280      180.600000
18281       80.820000
18282       89.025000
18283      127.845625
18287      612.426667
Name: TotalPrice, Length: 4338, dtype: float64

**Task 85: Identify customers who have made only one purchase.**

In [89]:
tras_customer.loc[lambda x:x==1].index

Index([12346, 12349, 12350, 12353, 12354, 12355, 12357, 12361, 12367, 12373,
       ...
       18255, 18262, 18268, 18269, 18274, 18276, 18277, 18278, 18280, 18281],
      dtype='int64', name='CustomerID', length=1493)

**Task 86: Find customers who spent more than Â£10,000 in total.**

In [90]:
high_value.loc[lambda x:x>10000]

CustomerID
12346     77183.60
12409     11072.67
12415    124914.53
12433     13375.87
12471     19788.65
           ...
17841     40519.84
17857     26879.04
17865     10526.32
17949     58510.48
18102    259657.30
Name: TotalPrice, Length: 104, dtype: float64

**Task 87: Calculate the average number of days between purchases for each customer.**

In [118]:
df.sort_values(['CustomerID','InvoiceDate']).groupby('CustomerID')['InvoiceDate'].diff().dt.days.groupby(df['CustomerID']).mean()

CustomerID
12346          NaN
12347     2.000000
12348     9.400000
12349     0.000000
12350     0.000000
           ...
18280     0.000000
18281     0.000000
18282    10.727273
18283     0.454167
18287     2.275362
Name: InvoiceDate, Length: 4338, dtype: float64

# PART L: Product Analysis

**Task 88: Find the top 20 products by revenue.**

In [91]:
df.groupby('ProductName')['TotalPrice'].sum().sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           168469.60
REGENCY CAKESTAND 3 TIER              142264.75
WHITE HANGING HEART T-LIGHT HOLDER    100392.10
JUMBO BAG RED RETROSPOT                85040.54
MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POSTAGE                                77803.96
PARTY BUNTING                          68785.23
ASSORTED COLOUR BIRD ORNAMENT          56413.03
MANUAL                                 53419.93
RABBIT NIGHT LIGHT                     51251.24
CHILLI LIGHTS                          46265.11
PAPER CHAIN KIT 50'S CHRISTMAS         42584.13
PICNIC BASKET WICKER 60 PIECES         39619.50
BLACK RECORD COVER FRAME               39045.80
JUMBO BAG PINK POLKADOT                37254.36
DOORMAT KEEP CALM AND COME IN          35880.85
SPOTTY BUNTING                         35509.55
WOOD BLACK BOARD ANT WHITE FINISH      34414.71
SET OF 3 CAKE TINS PANTRY DESIGN       33298.30
JAM MAKING SET WITH JARS               32616.22
Name: TotalPrice, dtype: float64

**Task 89: Find the top 20 products by quantity sold.**

In [92]:
df.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        77916
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54319
JUMBO BAG RED RETROSPOT               46078
WHITE HANGING HEART T-LIGHT HOLDER    36706
ASSORTED COLOUR BIRD ORNAMENT         35263
PACK OF 72 RETROSPOT CAKE CASES       33670
POPCORN HOLDER                        30919
RABBIT NIGHT LIGHT                    27153
MINI PAINT SET VINTAGE                26076
PACK OF 12 LONDON TISSUES             25329
PACK OF 60 PINK PAISLEY CAKE CASES    24230
BROCADE RING PURSE                    22927
VICTORIAN GLASS HANGING T-LIGHT       22404
ASSORTED COLOURS SILK FAN             21876
RED  HARMONICA IN BOX                 20945
JUMBO BAG PINK POLKADOT               20148
SMALL POPCORN HOLDER                  18241
60 TEATIME FAIRY CAKE CASES           17664
LUNCH BAG RED RETROSPOT               17576
Name: Quantity, dtype: int64

**Task 90: Calculate the average price for each product.**

In [93]:
df.groupby('ProductName')['UnitPrice'].mean()

ProductName
 4 PURPLE FLOCK DINNER CANDLES       2.312162
 50'S CHRISTMAS GIFT BAG LARGE       1.248073
 DOLLY GIRL BEAKER                   1.243704
 I LOVE LONDON MINI BACKPACK         4.138406
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL      0.836975
ZINC TOP  2 DOOR WOODEN SHELF       16.950000
ZINC WILLIE WINKIE  CANDLE STICK     0.872461
ZINC WIRE KITCHEN ORGANISER          7.175000
ZINC WIRE SWEETHEART LETTER TRAY     3.454000
Name: UnitPrice, Length: 3877, dtype: float64

**Task 91: Find products that have been sold to more than 10 different countries.**

In [94]:
df.groupby('ProductName')['Country'].nunique().loc[lambda x: x > 10]

ProductName
 DOLLY GIRL BEAKER                     11
 SPACEBOY BABY GIFT SET                13
10 COLOUR SPACEBOY PEN                 12
12 PENCIL SMALL TUBE WOODLAND          11
12 PENCILS SMALL TUBE RED RETROSPOT    11
                                       ..
WRAP PAISLEY PARK                      14
WRAP RED APPLES                        14
WRAP RED VINTAGE DOILY                 12
ZINC FOLKART SLEIGH BELLS              11
ZINC METAL HEART DECORATION            11
Name: Country, Length: 495, dtype: int64

**Task 92: Identify the most expensive and cheapest products.**

In [119]:
df.groupby('ProductName')['UnitPrice'].mean().sort_values().iloc[[0, -1]]

ProductName
PADS TO MATCH ALL CUSHIONS      0.0010
DOTCOM POSTAGE                744.1475
Name: UnitPrice, dtype: float64

# PART M: Advanced Grouping

**Task 93: Calculate total revenue by Country and Year.**

In [95]:
df.groupby(['Country',df['InvoiceDate'].dt.year])['TotalPrice'].sum()

Country               InvoiceDate
Australia             2010               965.350
                      2011            137488.460
Austria               2010               277.200
                      2011              9921.480
Bahrain               2011               548.400
Belgium               2010              1809.910
                      2011             39386.430
Brazil                2011              1143.600
Canada                2011              3666.380
Channel Islands       2010               363.530
                      2011             20077.010
Cyprus                2010              1587.070
                      2011             11915.780
Czech Republic        2011               826.740
Denmark               2010              1281.500
                      2011             17673.840
European Community    2011              1300.250
Finland               2010               892.800
                      2011             21653.280
France                2010              9616.310
                      2011            199318.000
Germany               2010             15205.740
                      2011            213472.660
Greece                2011              4760.520
Iceland               2010               711.790
                      2011              3598.210
Ireland               2010              8813.880
                      2011            256448.580
Israel                2011              7215.840
Italy                 2010               811.500
                      2011             16671.740
Japan                 2010              7705.070
                      2011             29711.300
Lebanon               2011              1693.880
Lithuania             2010              1661.060
Malta                 2011              2725.590
Netherlands           2010              8784.480
                      2011            276661.860
Norway                2010              3787.120
                      2011             32378.320
Poland                2010               248.160
                      2011              7086.490
Portugal              2010              2439.970
                      2011             30935.870
RSA                   2011              1002.310
Saudi Arabia          2011               145.920
Singapore             2011             21279.290
Spain                 2010              1843.730
                      2011             59714.830
Sweden                2010              3834.300
                      2011             34533.530
Switzerland           2010              1304.920
                      2011             55139.030
UK                    2010            496477.340
                      2011           6788547.304
USA                   2011              3580.390
United Arab Emirates  2011              1902.280
Unspecified           2011              2660.770
Name: TotalPrice, dtype: float64

**Task 94: Calculate average transaction value by Country and Quarter.**

In [96]:
df.groupby(['Country',df['InvoiceDate']
            .dt.to_period('Q'),'InvoiceNo'])['TotalPrice'].sum().groupby(level=[0, 1]).mean()

Country               InvoiceDate
Australia             2010Q4          321.783333
                      2011Q1         2408.065882
                      2011Q2         3959.778000
                      2011Q3         1915.312353
                      2011Q4         2439.325000
                                        ...
USA                   2011Q4          799.110000
United Arab Emirates  2011Q1          889.240000
                      2011Q3          506.520000
Unspecified           2011Q2          445.853333
                      2011Q3          264.642000
Name: TotalPrice, Length: 138, dtype: float64

**Task 95: Find the number of transactions by Country and Month.**

In [97]:
df.groupby(['Country',df['InvoiceDate']
            .dt.to_period('M')])['InvoiceNo'].nunique()

Country      InvoiceDate
Australia    2010-12        3
             2011-01        9
             2011-02        5
             2011-03        3
             2011-04        2
                           ..
Unspecified  2011-04        1
             2011-05        1
             2011-06        1
             2011-07        3
             2011-08        2
Name: InvoiceNo, Length: 287, dtype: int64

**Task 96: Calculate total revenue by Day of Week and Hour.**

In [98]:
df.groupby([df['InvoiceDate'].dt.day_name(),
            df['InvoiceDate'].dt.hour])['TotalPrice'].sum()

InvoiceDate  InvoiceDate
Friday       7               17284.880
             8               52656.610
             9              296376.831
             10             182871.600
             11             166546.630
                               ...
Wednesday    15             160053.320
             16              81464.310
             17              23428.060
             19               2893.400
             20              13031.500
Name: TotalPrice, Length: 73, dtype: float64

**Task 97: For each country, calculate the sum, mean, maximum, and minimum TotalPrice.**

In [99]:
df.groupby('Country')['TotalPrice'].agg(['sum', 'mean', 'max', 'min'])

                              sum        mean        max     min
Country
Australia              138453.810  117.234386    1718.40   0.420
Austria                 10198.680   25.624824     360.00   2.880
Bahrain                   548.400   32.258824     120.00  11.600
Belgium                 41196.340   20.283772     165.00   2.500
Brazil                   1143.600   35.737500     175.20  15.000
Canada                   3666.380   24.280662     550.94   2.500
Channel Islands         20440.540   27.363507     408.00   4.560
Cyprus                  13502.850   22.392786     320.69   0.830
Czech Republic            826.740   33.069600      70.80  10.080
Denmark                 18955.340   49.882474     428.40   4.680
European Community       1300.250   21.670833      60.00   7.800
Finland                 22546.080   32.913985     551.20   2.340
France                 208934.310   25.094200    4161.06   0.290
Germany                228678.400   25.338327     876.00   0.390
Greece                   4760.520   32.831172     175.20   3.360
Iceland                  4310.000   23.681319     249.60   5.040
Ireland                265262.460   36.709446    2365.20   1.250
Israel                   7215.840   29.452408     350.40   0.950
Italy                   17483.240   23.064960     300.00   2.880
Japan                   37416.370  116.561900    3794.40   0.290
Lebanon                  1693.880   37.641778     153.00  10.200
Lithuania                1661.060   47.458857     122.40  13.200
Malta                    2725.590   24.335625     455.00   2.280
Netherlands            285446.340  121.003111    4992.00   0.390
Norway                  36165.440   33.767918     700.00   2.880
Poland                   7334.650   22.226212     120.00   6.600
Portugal                33375.840   22.970296    1241.98   0.290
RSA                      1002.310   17.584386      38.25   5.040
Saudi Arabia              145.920   16.213333      19.80   5.040
Singapore               21279.290   95.852658    3949.32   2.340
Spain                   61558.560   24.832013    1350.00   0.210
Sweden                  38367.830   85.261844    1188.00   5.040
Switzerland             56443.950   30.659397     360.00   2.000
UK                    7285024.644   20.861862  168469.60   0.001
USA                      3580.390   20.002179      81.36   1.250
United Arab Emirates     1902.280   27.974706     153.00   3.480
Unspecified              2660.770   11.040539      69.36   0.190

**Task 98: For each customer, calculate their total spending, number of orders, and average order value.**

In [100]:
df.groupby('CustomerID').agg(
                    total_spending=('TotalPrice', 'sum'),
                    number_of_orders=('InvoiceNo', 'nunique'),
                    avg_order_value=('TotalPrice', 'mean')
                   )

            total_spending  number_of_orders  avg_order_value
CustomerID
12346             77183.60                 1     77183.600000
12347              4310.00                 7        23.681319
12348              1797.24                 4        57.975484
12349              1757.55                 1        24.076027
12350               334.40                 1        19.670588
...                    ...               ...              ...
18280               180.60                 1        18.060000
18281                80.82                 1        11.545714
18282               178.05                 2        14.837500
18283              2045.53                16         2.837074
18287              1837.28                 3        26.246857

[4338 rows x 3 columns]

**Task 99: For each product, calculate total quantity sold and total revenue generated.**

In [101]:
df.groupby('ProductName').agg(
                  total_quantity_sold=('Quantity', 'sum'),
                  total_revenue=('TotalPrice', 'sum')
              )

                                  total_quantity_sold  total_revenue
ProductName
 4 PURPLE FLOCK DINNER CANDLES                    138         265.66
 50'S CHRISTMAS GIFT BAG LARGE                   1885        2272.25
 DOLLY GIRL BEAKER                               2394        2754.50
 I LOVE LONDON MINI BACKPACK                      359        1449.85
 I LOVE LONDON MINI RUCKSACK                        1           4.15
...                                               ...            ...
ZINC T-LIGHT HOLDER STARS SMALL                  4894        3879.98
ZINC TOP  2 DOOR WOODEN SHELF                      10         169.50
ZINC WILLIE WINKIE  CANDLE STICK                 2606        2176.10
ZINC WIRE KITCHEN ORGANISER                        25         156.80
ZINC WIRE SWEETHEART LETTER TRAY                   80         253.24

[3877 rows x 2 columns]

# PART N: Creating Summary Reports

**Task 100: Create a summary table showing monthly sales for each country (countries as rows, months as columns).**

In [120]:
monthly_country=df.pivot_table(index='Country', columns='Month', values='TotalPrice', aggfunc='sum')

In [121]:
monthly_country

Month,1,2,3,4,5,6,7,8,9,10,11,12
Country,,,,,,,,,,,,
Australia,9017.71,14695.42,17223.99,771.600,13638.41,25187.77,4964.380,22489.20,5106.730,17150.53,7242.72,965.35
Austria,NaN,518.36,1708.12,680.780,1249.43,NaN,1191.950,1516.08,NaN,1043.78,1329.78,960.40
Bahrain,NaN,NaN,NaN,NaN,548.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,1200.20,2181.07,3351.98,1989.480,2732.40,4274.82,2475.570,3554.02,4208.020,5685.38,6315.76,3227.64
Brazil,NaN,NaN,NaN,1143.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,NaN,NaN,140.54,NaN,534.24,1171.46,1768.580,51.56,NaN,NaN,NaN,NaN
Channel Islands,675.58,1784.71,3509.33,293.000,1207.24,2060.03,NaN,4886.88,1323.750,2623.32,1514.77,561.93
Cyprus,547.50,4334.24,938.39,NaN,NaN,1109.32,NaN,NaN,196.350,4350.32,439.66,1587.07
Czech Republic,NaN,549.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277.48,NaN,NaN
Denmark,NaN,399.22,3978.99,NaN,515.70,3261.15,376.240,213.15,4570.160,1490.76,2699.57,1450.40
European Community,NaN,NaN,NaN,191.400,NaN,432.05,676.800,NaN,NaN,NaN,NaN,NaN
Finland,889.02,205.16,5936.82,1688.920,NaN,329.56,2996.730,1376.50,1105.450,2822.12,3070.24,2125.56
France,17740.12,8515.96,14584.95,5529.610,17606.48,16078.97,10000.190,13810.96,23428.040,33471.05,31274.75,16893.23
Germany,16880.84,9581.05,14392.69,12315.540,25734.70,13246.35,16440.980,19220.77,18079.470,31628.42,27967.68,23189.91
Greece,2661.24,NaN,387.31,609.740,NaN,NaN,421.240,NaN,NaN,NaN,NaN,680.99
Iceland,475.39,NaN,NaN,636.250,NaN,382.52,NaN,584.91,NaN,1294.32,NaN,936.61
Ireland,21904.19,10111.52,21674.36,7570.500,15977.15,19835.99,40854.150,16957.83,40832.640,24302.92,29448.41,15792.80
Israel,NaN,779.10,NaN,NaN,NaN,NaN,1430.750,4873.81,NaN,132.18,NaN,NaN
Italy,2402.51,256.00,1806.81,737.830,587.45,202.07,147.100,1990.95,279.800,3489.69,4571.08,1011.95
Japan,NaN,5780.81,48.90,6548.500,1351.45,1607.04,3854.400,NaN,112.080,1948.04,8460.08,7705.07
Lebanon,1693.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lithuania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1661.06
Malta,NaN,NaN,NaN,NaN,NaN,863.16,NaN,1119.00,NaN,NaN,743.43,NaN
Netherlands,26611.16,23011.91,22416.49,2976.560,29185.88,26858.09,26.020,40327.81,26937.260,40708.65,25874.01,20512.50
Norway,NaN,630.90,1265.31,NaN,NaN,5886.86,890.070,2025.81,8678.940,3687.23,6527.50,6572.82
Poland,613.22,604.05,317.78,705.840,1522.37,343.65,687.300,401.80,529.250,NaN,1361.23,248.16
Portugal,4055.71,1213.90,2660.85,1687.750,4202.23,884.46,2287.850,1221.40,1433.220,5877.01,2603.30,5248.16
RSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1002.31,NaN,NaN
Saudi Arabia,NaN,145.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singapore,2053.07,NaN,NaN,8209.580,NaN,NaN,3949.320,NaN,NaN,7067.32,NaN,NaN
Spain,10086.09,2114.50,5363.15,1785.650,3257.60,3333.21,7620.770,3342.41,5189.240,8636.94,8669.06,2159.94
Sweden,3486.32,509.50,4720.58,809.100,2681.98,832.00,6802.090,1390.36,4575.210,5766.16,2722.23,4072.30
Switzerland,4231.23,2654.92,1870.23,2076.940,3610.01,7904.15,3762.650,4969.89,8284.860,7655.19,8118.96,1304.92
UK,440876.33,354618.20,465784.19,408733.111,550359.35,523775.59,484545.591,497194.91,794806.692,821220.13,975251.39,967859.16
USA,NaN,NaN,NaN,383.950,NaN,NaN,NaN,NaN,NaN,2311.20,NaN,885.24
United Arab Emirates,NaN,889.24,NaN,NaN,NaN,NaN,NaN,NaN,1013.040,NaN,NaN,NaN
Unspecified,NaN,NaN,NaN,299.100,852.68,185.78,792.180,531.03,NaN,NaN,NaN,NaN

**Task 101: Create a summary showing average quantity purchased by country and quarter.**

In [126]:
avg_qty=df.pivot_table(index='Country',columns='Quarter',values='Quantity', aggfunc='mean')

In [127]:
avg_qty

Quarter                       Q1          Q2         Q3         Q4
Country
Australia              76.429012   83.184818  59.692935  64.279570
Austria                33.948718   10.220779   9.531469  10.122302
Bahrain                      NaN   15.294118        NaN        NaN
Belgium                10.943452   10.663286  11.298419  12.336207
Brazil                       NaN   11.125000        NaN        NaN
Canada                  8.800000   27.517241  13.000000        NaN
Channel Islands        14.855856    9.330645  13.563725  11.487310
Cyprus                 15.181818    7.574468  33.000000   7.794030
Czech Republic         23.066667         NaN        NaN  32.500000
Denmark                28.282051   15.296000  27.683544  22.138686
European Community           NaN    5.290323  11.551724        NaN
Finland                14.523207   18.396226  14.016949  17.458716
France                 14.319975   14.233399  12.955718  12.764706
Germany                12.749697   14.133297  12.878070  13.132771
Greece                 15.092593    8.451613  10.166667   6.555556
Iceland                10.862069   16.166667  12.590909  13.337079
Ireland                21.918970   17.206720  23.000439  16.282892
Israel                 17.875000         NaN  18.489899   3.096774
Italy                   9.411765   17.727273  10.491379  10.443864
Japan                  29.900990  172.765625  57.488372  83.778761
Lebanon                 8.577778         NaN        NaN        NaN
Lithuania                    NaN         NaN        NaN  18.628571
Malta                        NaN    8.933333   6.945455  15.500000
Netherlands            85.060956   73.619893  88.293561  91.773071
Norway                  8.200000   12.102410  17.917683  21.070881
Poland                 12.048387   10.263636   9.202532  13.683544
Portugal               14.802768    8.229268  16.475490   8.965563
RSA                          NaN         NaN        NaN   6.157895
Saudi Arabia            8.888889         NaN        NaN        NaN
Singapore              19.482143   24.368421  28.800000  17.676471
Spain                  10.692194   10.363874  11.533632  12.013351
Sweden                108.074074   40.306818  89.000000  80.786667
Switzerland            15.943574   20.014085  15.158974  15.503436
UK                     12.943920   12.176077  13.063251  11.255354
USA                          NaN    6.227273        NaN  14.783439
United Arab Emirates   16.533333         NaN  12.789474        NaN
Unspecified                  NaN   14.083333   4.562130        NaN

**Task 102: Create a table showing the count of transactions in each RevenueCategory by Country.**

In [124]:
trans_country=df.pivot_table(index='Country', columns='RevenueCategory',values='InvoiceNo',aggfunc='count')

In [125]:
trans_country

RevenueCategory         High       Low    Medium
Country
Australia              445.0      82.0     654.0
Austria                 13.0      37.0     348.0
Bahrain                  1.0       NaN      16.0
Belgium                 16.0     209.0    1806.0
Brazil                   1.0       NaN      31.0
Canada                   2.0      19.0     130.0
Channel Islands         22.0      20.0     705.0
Cyprus                  14.0     142.0     447.0
Czech Republic           NaN       NaN      25.0
Denmark                 43.0      28.0     309.0
European Community       NaN       1.0      59.0
Finland                 42.0      66.0     577.0
France                 165.0    1284.0    6877.0
Germany                246.0    1155.0    7624.0
Greece                  12.0      17.0     116.0
Iceland                  3.0      13.0     166.0
Ireland                457.0     793.0    5976.0
Israel                  14.0      52.0     179.0
Italy                    8.0      44.0     706.0
Japan                  126.0      58.0     137.0
Lebanon                  3.0       NaN      42.0
Lithuania                1.0       NaN      34.0
Malta                    2.0      12.0      98.0
Netherlands           1132.0     198.0    1029.0
Norway                  43.0      59.0     969.0
Poland                   2.0      25.0     303.0
Portugal                23.0     354.0    1076.0
RSA                      NaN       3.0      54.0
Saudi Arabia             NaN       1.0       8.0
Singapore               16.0      13.0     193.0
Spain                   73.0     637.0    1769.0
Sweden                 136.0      28.0     286.0
Switzerland             95.0     148.0    1598.0
UK                    8493.0  164356.0  176354.0
USA                      NaN      22.0     157.0
United Arab Emirates     1.0       7.0      60.0
Unspecified              NaN     126.0     115.0

# PART O: Data Transformation

**Task 103: Add a column to each row showing what percentage of the monthly total revenue that transaction represents.**

In [128]:
df['TotalPrice'] / df.groupby(df['InvoiceDate'].dt.to_period('M'))['TotalPrice'].transform('sum') * 100

0         0.002682
1         0.003566
2         0.003857
3         0.003566
4         0.003566
            ...
392687    0.001972
392688    0.002436
392689    0.003210
392690    0.003210
392691    0.002871
Name: TotalPrice, Length: 392692, dtype: float64

**Task 104: Add a column showing each customer's ranking based on their total spending.**

In [129]:
 df.groupby('CustomerID')['TotalPrice'].transform('sum').rank(method='dense', ascending=False)

0          248.0
1          248.0
2          248.0
3          248.0
4          248.0
           ...
392687    1826.0
392688    1826.0
392689    1826.0
392690    1826.0
392691    1826.0
Name: TotalPrice, Length: 392692, dtype: float64

**Task 105: Add a column showing the cumulative revenue over time.**

In [130]:
df.sort_values('InvoiceDate')['TotalPrice'].cumsum()

0         1.530000e+01
1         3.564000e+01
2         5.764000e+01
3         7.798000e+01
4         9.832000e+01
              ...
392679    8.887143e+06
392678    8.887162e+06
392690    8.887179e+06
392683    8.887194e+06
392691    8.887209e+06
Name: TotalPrice, Length: 392692, dtype: float64

# PART P: Combining Analysis

**Task 106: Split the dataset into two parts: 2010 data and 2011 data. Then combine them back together vertically.**

In [131]:
df_2010=df[df['InvoiceDate'].dt.year==2010]
df_2011=df[df['InvoiceDate'].dt.year==2011]
combined=pd.concat([df_2010,df_2011],axis=0)

**Task 107: Create separate datasets for UK and non-UK transactions. Combine them back horizontally with appropriate labeling.**

In [133]:
pd.concat([df[df['Country']=='UK'].add_prefix('UK_').reset_index(drop=True), df[df['Country']!='UK'].add_prefix('NonUK_').reset_index(drop=True)], axis=1)

,UK_InvoiceNo,UK_StockCode,UK_ProductName,UK_Quantity,UK_InvoiceDate,UK_UnitPrice,UK_CustomerID,UK_Country,UK_TotalPrice,UK_Year,...,NonUK_TotalPrice,NonUK_Year,NonUK_Month,NonUK_Day,NonUK_Hour,NonUK_DayOfWeek,NonUK_Quarter,NonUK_RevenueCategory,NonUK_OrderSize,NonUK_Product Name Length
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,90.0,2010.0,12.0,1.0,8.0,Wednesday,Q4,Medium,Large,25.0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,90.0,2010.0,12.0,1.0,8.0,Wednesday,Q4,Medium,Large,25.0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,45.0,2010.0,12.0,1.0,8.0,Wednesday,Q4,Medium,Medium,26.0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,10.2,2010.0,12.0,1.0,8.0,Wednesday,Q4,Medium,Medium,31.0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,15.6,2010.0,12.0,1.0,8.0,Wednesday,Q4,Medium,Large,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349198,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804,UK,23.40,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349199,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113,UK,23.60,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349200,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113,UK,30.00,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349201,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349202,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# PART Q: External Data Integration

**Task 108: Create a new dataset with customer information (make up data):
CustomerID, CustomerName, MembershipLevel (Bronze/Silver/Gold), JoinDate**

In [137]:
customer=pd.DataFrame({
    'CustomerID': [12345, 13047, 17850, 12583, 14012],
    'CustomerName': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'MembershipLevel': ['Gold', 'Silver', 'Gold', 'Bronze', 'Silver'],
    'JoinDate': pd.to_datetime(['2010-01-15', '2010-05-23', '2011-02-10', '2011-06-05', '2010-09-17'])
})

In [139]:
customer

   CustomerID CustomerName MembershipLevel   JoinDate
0       12345        Alice            Gold 2010-01-15
1       13047          Bob          Silver 2010-05-23
2       17850      Charlie            Gold 2011-02-10
3       12583        David          Bronze 2011-06-05
4       14012          Eva          Silver 2010-09-17

**Task 109: Combine this customer dataset with your sales data to show customer names and membership levels in transactions.**

In [147]:
df_with_cus=df.merge(customer[['CustomerID', 'CustomerName', 'MembershipLevel']],
                             on='CustomerID',
                             how='left')

In [148]:
df_with_cus

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,Product Name Length,CustomerName,MembershipLevel
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,Q4,Medium,Medium,34,Charlie,Gold
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,19,Charlie,Gold
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,Q4,Medium,Medium,30,Charlie,Gold
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,35,Charlie,Gold
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,Medium,Medium,30,Charlie,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,Q4,Medium,Medium,27,NaN,NaN
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,Q4,Medium,Medium,28,NaN,NaN
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,Q4,Medium,Small,29,NaN,NaN
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,Q4,Medium,Small,31,NaN,NaN
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,Q4,Medium,Small,29,NaN,NaN

**Task 110: Create a product categories dataset (make up data):
StockCode, Category (e.g., Home, Kitchen, Gift, etc.)**

In [140]:
product_catg = pd.DataFrame({
    'StockCode': ['1001','1002','1003','1004','1005','1006'],
    'Category': ['Home','Kitchen','Gift','Stationary','Garden','Toys']
})

In [141]:
product_catg

  StockCode    Category
0      1001        Home
1      1002     Kitchen
2      1003        Gift
3      1004  Stationary
4      1005      Garden
5      1006        Toys

**Task 111: Combine the sales data with product categories to analyze which categories generate the most revenue.**

In [142]:
product_catg= pd.DataFrame({
    'ProductName': ['WHITE HANGING HEART T-LIGHT HOLDER', 'REGENCY CAKESTAND 3 TIER',
                    'MINI PAPER FLAG', 'LUXURY GIFT SET', 'ALPHABET KEYCHAIN'],
    'Category': ['Home Decor', 'Kitchenware', 'Stationery', 'Gifts', 'Accessories']
})

In [144]:
df_with_categories=df.merge(product_catg, on='ProductName', how='left')

In [145]:
revenue_by_category=df_with_categories.groupby('Category')['TotalPrice'].sum().sort_values(ascending=False)

In [146]:
revenue_by_category

Category
Kitchenware    142264.75
Home Decor     100392.10
Name: TotalPrice, dtype: float64

**Task 112: Perform an analysis that shows total revenue by MembershipLevel.**

In [149]:
revenue_by_membership=df_with_cus.groupby('MembershipLevel')['TotalPrice'].sum().sort_values(ascending=False)

**Task 113: Show which product categories are most popular in each country.**

In [152]:
most_popular_category=df_with_categories.groupby(['Country', 'Category'])['Quantity'].sum().reset_index().sort_values(['Country','Quantity'], ascending=[True, False]).groupby('Country').first()[['Category']]

In [153]:
most_popular_category

                         Category
Country
Australia             Kitchenware
Austria               Kitchenware
Bahrain               Kitchenware
Belgium               Kitchenware
Brazil                Kitchenware
Canada                Kitchenware
Channel Islands        Home Decor
Cyprus                 Home Decor
Finland                Home Decor
France                Kitchenware
Germany               Kitchenware
Greece                Kitchenware
Iceland               Kitchenware
Ireland                Home Decor
Israel                Kitchenware
Italy                  Home Decor
Lebanon               Kitchenware
Malta                 Kitchenware
Netherlands            Home Decor
Norway                Kitchenware
Portugal              Kitchenware
RSA                   Kitchenware
Singapore              Home Decor
Spain                 Kitchenware
Switzerland           Kitchenware
UK                     Home Decor
USA                   Kitchenware
United Arab Emirates  Kitchenware
Unspecified           Kitchenware

# PART R: NumPy Operations

**Task 114: Extract Quantity and UnitPrice as arrays and perform element-wise multiplication**

In [103]:
quantity_arr=df['Quantity'].to_numpy()
unitprice_arr=df['UnitPrice'].to_numpy()
quantity_arr*unitprice_arr

array([15.3 , 20.34, 22.  , ..., 16.6 , 16.6 , 14.85])

**Task 115: Create an array of 1000 random transaction IDs.**

In [104]:
transaction_ids=np.random.randint(100000,999999,size=1000)

**Task 116: Generate 50 equally spaced price points between Â£0 and Â£500.**

In [105]:
price_points=np.linspace(0,500,50)

**Task 117: Create a matrix representing 12 months and 7 product categories filled with zeros.**

In [106]:
month_products=np.zeros((12,7))

**Task 118: Extract quantities greater than 100 from the Quantity array.**

In [107]:
quantity_arr[quantity_arr>100]

array([120, 192, 192, ..., 180, 144, 144])

**Task 119: Calculate the square root of all UnitPrice values.**

In [108]:
np.sqrt(unitprice_arr)

array([1.59687194, 1.84119526, 1.6583124 , ..., 2.03715488, 2.03715488,
       2.22485955])

**Task 120: Find the 25th, 50th, and 75th percentiles of TotalPrice.**

In [109]:
totalprice=df['TotalPrice'].to_numpy()
np.percentile(totalprice,[25,50,75])

array([ 4.95, 12.45, 19.8 ])

**Task 121: Round all UnitPrice values to the nearest integer.**

In [154]:
np.round(unitprice_arr).astype(int)

array([3, 3, 3, ..., 4, 4, 5])

**Task 122: Find positions where Quantity is maximum.**

In [111]:
np.where(quantity_arr==quantity_arr.max())

(array([392226]),)

**Task 123: Calculate the correlation between Quantity and UnitPrice.**

In [112]:
np.corrcoef(quantity_arr,unitprice_arr)[0,1]

np.float64(-0.0045783143496490285)

**Task 124: Normalize the TotalPrice column (subtract mean, divide by standard deviation).**

In [113]:
(totalprice-totalprice.mean())/totalprice.std()

array([-0.02356647, -0.00736583, -0.0020299 , ..., -0.01938773,
       -0.01938773, -0.02501295])

**Task 125: Split the Quantity array into 4 equal parts.**

In [114]:
np.array_split(quantity_arr,4)

[array([6, 6, 8, ..., 1, 1, 1]),
 array([24, 10,  1, ...,  2,  4,  2]),
 array([ 6,  3,  3, ..., 20,  8,  8]),
 array([12, 12, 24, ...,  4,  4,  3])]

## PART S: Export and Documentation

**Task 126: Save your cleaned dataset to a CSV file.**

In [155]:
df.to_csv('cleaned_sales_data.csv', index=False)

**Task 127: Save your cleaned dataset to an Excel file.**

In [ ]:
df.to_excel('cleaned_sales_data.xlsx')

**Task 128: Create an Excel file with multiple sheets:
Sheet 1: Full cleaned data
Sheet 2: Country-wise summary
Sheet 3: Monthly revenue trends
Sheet 4: Top 50 customers**

**Task 129: Export the pivot table from Task 100 to Excel**

In [159]:
monthly_country.to_excel('Monthly_Country_Sales_Pivot.xlsx')

**Task 130: Create a text file documenting all the insights you discovered from this analysis.**

In [158]:
with open('analysis_insights.txt','w') as f:
  f.write(
       "Sales Data Analysis â€“ Key Findings:\n"
        "The majority of revenue is generated from a limited number of high-performing regions.\n"
        "Customer purchasing behavior shows a strong concentration around repeat buyers.\n"
        "Higher sales volumes are observed during specific months, indicating seasonal demand.\n"
        "Transactions occurring during daytime hours contribute more to total revenue.\n"
        "Premium membership customers show higher average order values.\n"
        "A small number of products account for a significant portion of total sales.\n"
        "Low-frequency customers represent a large portion of the customer base.\n"
        "Sales activity is stronger on working days compared to weekends.\n"
        "Revenue trends indicate steady growth over the observed time period.\n"
        "Overall, customer segmentation plays a key role in revenue generation.\n"
  )