<a href="https://colab.research.google.com/github/Bhagyanandinipillikalla/DataAnalytics/blob/main/PandasProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import kagglehub
path = kagglehub.dataset_download("carrie1/ecommerce-data")

Using Colab cache for faster access to the 'ecommerce-data' dataset.

# PART A: Initial Data Exploration

**Task 1: Load the dataset and display basic information about its structure.**

In [ ]:
df=pd.read_csv('/kaggle/input/ecommerce-data/data.csv',encoding='ISO-8859-1')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

**Task 2: Show the first 15 and last 15 records.**

In [ ]:
df.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [ ]:
df.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

**Task 3: Display a random sample of 20 transactions.**

In [ ]:
df.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
327218,565643,20724,RED RETROSPOT CHARLOTTE BAG,10,9/5/2011 15:56,0.85,13468.0,United Kingdom
263804,560035,85152,HAND OVER THE CHOCOLATE SIGN,12,7/14/2011 13:41,2.10,17706.0,United Kingdom
490684,578065,22338,STAR DECORATION PAINTED ZINC,1,11/22/2011 15:41,0.63,NaN,United Kingdom
276046,561028,23019,SMALL APOTHECARY MEASURING JAR,1,7/24/2011 11:06,8.25,17769.0,United Kingdom
207394,554987,22188,BLACK HEART CARD HOLDER,1,5/29/2011 12:48,3.95,14823.0,United Kingdom
196374,553842,22615,PACK OF 12 CIRCUS PARADE TISSUES,48,5/19/2011 12:24,0.29,12524.0,Germany
476660,577029,23252,VINTAGE RED ENAMEL TRIM JUG,2,11/17/2011 12:59,3.75,15563.0,United Kingdom
225824,556733,22356,CHARLOTTE BAG PINK POLKADOT,2,6/14/2011 11:53,0.85,16919.0,United Kingdom
141189,548502,21929,JUMBO BAG PINK VINTAGE PAISLEY,14,3/31/2011 14:17,4.96,NaN,United Kingdom
241824,558240,22301,COFFEE MUG CAT + BIRD DESIGN,6,6/27/2011 15:27,2.55,NaN,United Kingdom
209321,555202,22645,CERAMIC HEART FAIRY CAKE MONEY BANK,2,6/1/2011 12:11,1.45,16813.0,United Kingdom
72384,542241,20762,GREEN FERN SKETCHBOOK,1,1/26/2011 14:51,3.75,16409.0,United Kingdom
162532,550504,22610,PENS ASSORTED FUNNY FACE,36,4/18/2011 15:43,0.85,16654.0,United Kingdom
431859,573763,23354,6 GIFT TAGS 50'S CHRISTMAS,12,11/1/2011 9:56,0.83,17139.0,United Kingdom
143224,548668,21259,VICTORIAN SEWING BOX SMALL,2,4/1/2011 15:03,5.95,16162.0,United Kingdom
352981,567709,22138,BAKING SET 9 PIECE RETROSPOT,3,9/22/2011 9:53,4.95,15239.0,United Kingdom
16062,537643,22525,CHILDRENS GARDEN GLOVES PINK,1,12/7/2010 15:34,3.36,NaN,United Kingdom
432615,573876,21253,SET OF PICTURE FRAME STICKERS,3,11/1/2011 12:48,2.95,16360.0,United Kingdom
89195,543829,21238,RED RETROSPOT CUP,96,2/14/2011 9:47,0.72,12939.0,United Kingdom
65963,C541707,85099C,JUMBO BAG BAROQUE BLACK WHITE,-10,1/21/2011 11:07,1.95,18223.0,United Kingdom

**Task 4: Find out how many rows and columns are in the dataset.**

In [ ]:
df.shape

(541909, 8)

**Task 5: List all column names.**

In [ ]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

**Task 6: Check the data type of each column.**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

**Task 7: Get a statistical summary of all numerical columns.**

In [ ]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

# PART B: Data Quality Assessment

**Task 8: Identify which columns have missing values and how many.**

In [ ]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

**Task 9: Find out how many transactions have missing CustomerID.**

In [ ]:
df['CustomerID'].isna().sum()

np.int64(135080)

**Task 10: Check if there are any duplicate rows in the dataset**

In [ ]:
df.duplicated().any()

np.True_

**Task 11: Identify transactions where Quantity is less than or equal to zero.**

In [ ]:
df[df['Quantity']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

**Task 12: Find transactions where UnitPrice is zero or negative.**

In [ ]:
df[df['UnitPrice']<=0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

**Task 13: Identify how many invoice numbers start with the letter 'C'.**

In [ ]:
df['InvoiceNo'].astype(str).str.startswith('C').sum()

np.int64(9288)

**Task 14: Check if the Description column has any leading or trailing spaces.**

In [ ]:
(df['Description']!=df['Description'].str.strip()).any()

np.True_

# PART C: Data Cleaning

**Task 15: Remove all rows where CustomerID is missing**

In [ ]:
df=df.dropna(subset=['CustomerID'])

In [ ]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

**Task 16: For missing product descriptions, fill them with "Unknown Product".**

In [ ]:
df.loc[:,'Description']=df['Description'].fillna('Unknown Product')

**Task 17: Remove all duplicate transactions.**

In [ ]:
df=df.drop_duplicates()

**Task 18: Remove transactions where Quantity is less than or equal to zero.**

In [ ]:
df=df[df['Quantity']>0].copy()

**Task 19: Remove transactions where UnitPrice is less than or equal to zero.**

In [ ]:
df=df[df['UnitPrice']>0].copy()

**Task 20: Remove all cancelled transactions (invoices starting with 'C').**

In [ ]:
df.drop(df[df['InvoiceNo'].astype(str).str.startswith('C')].index, inplace=True)

**Task 21: Change the column name "Description" to "ProductName".**

In [ ]:
df.rename(columns={'Description':'ProductName'},inplace=True)

**Task 22: Ensure the InvoiceDate column is in proper date-time format.**

In [ ]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'],errors='coerce')

**Task 23: Convert CustomerID to integer type.**

In [ ]:
df['CustomerID']=df['CustomerID'].astype(int)

**Task 24: Reset the index after all cleaning operations.**

In [ ]:
df.reset_index(drop=True,inplace=True)

In [ ]:
df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

# PART D: Feature Creation

**Task 25: Create a new column called "TotalPrice" that represents the total value of each transaction.**

In [ ]:
df['TotalPrice']=df['Quantity']*df['UnitPrice']

**Task 26: Extract the year from InvoiceDate and store it in a new column "Year".**

In [ ]:
df['Year']=df['InvoiceDate'].dt.year

**Task 27: Extract the month from InvoiceDate and store it in a new column "Month".**

In [ ]:
df['Month']=df['InvoiceDate'].dt.month

**ask 28: Extract the month from InvoiceDate and store it in a new column "Day".**

In [ ]:
df['Day']=df['InvoiceDate'].dt.day

**Task 29: Extract the month from InvoiceDate and store it in a new column "Hour".**

In [ ]:
df['Hour']=df['InvoiceDate'].dt.hour

**Task 30: Create a column "DayOfWeek" showing which day of the week the transaction occurred.**

In [ ]:
df['DayOfWeek']=df['InvoiceDate'].dt.day_name()

**Task 31: Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.**

In [ ]:
df['Quarter']='Q'+df['InvoiceDate'].dt.quarter.astype(str)

**Task 32: Create a column "RevenueCategory" with three levels:**
*  **"Low" for transactions under Â£10**
*  **"Medium" for transactions between Â£10 and Â£100**
* **"High" for transactions above Â£100**


**Task 33: Create a column "OrderSize" with three levels:**

*   **"Small" for Quantity less than 5**
*   **"Medium" for Quantity between 5 and 20**
*   **"Large" for Quantity greater than 20**

**Task 34: Create a column that shows the length of each product name.**

In [ ]:
df['Product Name Length']=df['ProductName'].astype(str).str.len()

# PART E: Text Data Processing

**Task 35: Convert all product names to uppercase.**

In [ ]:
df['ProductName']=df['ProductName'].str.upper()

**Task 36: Remove any extra spaces from the Country column.**

In [ ]:
df['Country']=df['Country'].str.strip()

**Task 37: Find all products that contain the word "BAG" in their name.**

In [ ]:
df[df['ProductName'].str.contains('BAG',case=False,na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,Product Name Length
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583,France,17.0,2010,12,1,8,Wednesday,Q4,31
86,536378,22386,JUMBO BAG PINK POLKADOT,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,Wednesday,Q4,23
87,536378,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2010-12-01 09:37:00,1.95,14688,United Kingdom,19.5,2010,12,1,9,Wednesday,Q4,30
88,536378,21033,JUMBO BAG CHARLIE AND LOLA TOYS,10,2010-12-01 09:37:00,2.95,14688,United Kingdom,29.5,2010,12,1,9,Wednesday,Q4,31
89,536378,20723,STRAWBERRY CHARLOTTE BAG,10,2010-12-01 09:37:00,0.85,14688,United Kingdom,8.5,2010,12,1,9,Wednesday,Q4,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392616,581579,23343,JUMBO BAG VINTAGE CHRISTMAS,30,2011-12-09 12:19:00,1.79,17581,United Kingdom,53.7,2011,12,9,12,Friday,Q4,28
392617,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581,United Kingdom,35.8,2011,12,9,12,Friday,Q4,25
392618,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,United Kingdom,71.6,2011,12,9,12,Friday,Q4,22
392645,581581,23681,LUNCH BAG RED VINTAGE DOILY,10,2011-12-09 12:20:00,1.65,17581,United Kingdom,16.5,2011,12,9,12,Friday,Q4,27
392648,581583,20725,LUNCH BAG RED RETROSPOT,40,2011-12-09 12:23:00,1.45,13777,United Kingdom,58.0,2011,12,9,12,Friday,Q4,23

**Task 38: Find all products whose names start with "WHITE".**

In [ ]:
df[df['ProductName'].str.startswith('WHITE',na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,Product Name Length
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,Wednesday,Q4,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,Wednesday,Q4,19
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,Wednesday,Q4,34
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850,United Kingdom,20.34,2010,12,1,9,Wednesday,Q4,19
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.30,2010,12,1,9,Wednesday,Q4,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392022,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-12-08 19:55:00,2.95,15796,United Kingdom,17.70,2011,12,8,19,Thursday,Q4,34
392135,581476,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 08:48:00,4.25,12433,Norway,17.00,2011,12,9,8,Friday,Q4,29
392372,581502,23210,WHITE ROCKING HORSE HAND PAINTED,12,2011-12-09 10:51:00,1.25,15910,United Kingdom,15.00,2011,12,9,10,Friday,Q4,32
392439,581538,21673,WHITE SPOT BLUE CERAMIC DRAWER KNOB,1,2011-12-09 11:34:00,1.45,14446,United Kingdom,1.45,2011,12,9,11,Friday,Q4,35
392498,581567,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-09 11:56:00,4.25,16626,United Kingdom,17.00,2011,12,9,11,Friday,Q4,29

**Task 39: Find all products whose names end with "HOLDER".**

In [ ]:
df[df['ProductName'].str.endswith('HOLDER',na=False)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,Product Name Length
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,12,1,8,Wednesday,Q4,34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,12,1,8,Wednesday,Q4,33
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,Q4,34
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,12,1,9,Wednesday,Q4,33
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,Wednesday,Q4,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,12,9,11,Friday,Q4,32
392524,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,12,9,12,Friday,Q4,26
392608,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,12,9,12,Friday,Q4,14
392655,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,12,9,12,Friday,Q4,30
392659,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,12,9,12,Friday,Q4,34

**Task 40: Replace "United Kingdom" with "UK" in the Country column.**

In [ ]:
df['Country']=df['Country'].replace('United Kingdom','UK')

**Task 41: Replace "EIRE" with "Ireland" in the Country column.**

In [ ]:
df['Country']=df['Country'].replace('EIRE','Ireland')

# PART F: Data Selection and Filtering

**Task 42: Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.**

In [ ]:
df[['InvoiceNo','ProductName','Quantity','UnitPrice','Country']]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,UK
1,536365,WHITE METAL LANTERN,6,3.39,UK
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,UK
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,UK
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,UK
...,...,...,...,...,...
392687,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
392688,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
392689,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
392690,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
392691,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

**Task 43: Display transactions from Germany only.**

In [ ]:
df[df['Country']=='Germany']

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
1073,536527,SET OF 6 T-LIGHTS SANTA,6,2.95,Germany
1074,536527,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2.55,Germany
1075,536527,MULTI COLOUR SILVER T-LIGHT HOLDER,12,0.85,Germany
1076,536527,5 HOOK HANGER MAGIC TOADSTOOL,12,1.65,Germany
1077,536527,3 HOOK HANGER MAGIC GARDEN,12,1.95,Germany
...,...,...,...,...,...
392584,581578,SET OF 4 PANTRY JELLY MOULDS,12,1.25,Germany
392585,581578,PACK OF 20 NAPKINS PANTRY DESIGN,12,0.85,Germany
392586,581578,PACK OF 20 NAPKINS RED APPLES,12,0.85,Germany
392587,581578,JINGLE BELL HEART ANTIQUE SILVER,12,2.08,Germany
392588,581578,RIBBON REEL MAKING SNOWMEN,10,1.65,Germany

**Task 44: Display transactions where Quantity is greater than 50.**

In [ ]:
df[df['Quantity']>50]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
46,536371,PAPER CHAIN KIT 50'S CHRISTMAS,80,2.55,UK
83,536376,RED HANGING HEART T-LIGHT HOLDER,64,2.55,UK
96,536378,PACK OF 72 RETROSPOT CAKE CASES,120,0.42,UK
102,536378,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,0.38,UK
174,536386,JUMBO BAG BAROQUE BLACK WHITE,100,1.65,UK
...,...,...,...,...,...
392488,581566,HOME SWEET HOME BLACKBOARD,144,3.26,UK
392489,581567,COCKLE SHELL DISH,84,0.79,UK
392497,581567,AGED GLASS SILVER T-LIGHT HOLDER,144,0.55,UK
392529,581571,SMALL CERAMIC TOP STORAGE JAR,96,0.69,UK
392650,581584,RED FLOCK LOVE HEART PHOTO FRAME,72,0.72,UK

**Task 45: Display transactions where UnitPrice is between Â£5 and Â£10.**

In [ ]:
df[(df['UnitPrice']>=5)&(df['UnitPrice']<=10)]

       InvoiceNo                     ProductName  Quantity  UnitPrice Country
5         536365    SET 7 BABUSHKA NESTING BOXES         2       7.65      UK
16        536367  BOX OF VINTAGE ALPHABET BLOCKS         2       9.95      UK
17        536367        HOME BUILDING BLOCK WORD         3       5.95      UK
18        536367        LOVE BUILDING BLOCK WORD         3       5.95      UK
19        536367     RECIPE BOX WITH METAL HEART         4       7.95      UK
...          ...                             ...       ...        ...     ...
392638    581580        CINAMMON & ORANGE WREATH         1       6.75      UK
392641    581580                   CHILLI LIGHTS         2       5.75      UK
392661    581585           LOVE HOT WATER BOTTLE         3       5.95      UK
392675    581586   RED RETROSPOT ROUND CAKE TINS        24       8.95      UK
392676    581586           DOORMAT RED RETROSPOT        10       7.08      UK

[39943 rows x 5 columns]

**Task 46: Display transactions from France with Quantity greater than 20.**

In [ ]:
df[(df['Country']=='France')&(df['Quantity']>20)]

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
26,536370,ALARM CLOCK BAKELIKE PINK,24,3.75,France
27,536370,ALARM CLOCK BAKELIKE RED,24,3.75,France
30,536370,STARS GIFT TAPE,24,0.65,France
31,536370,INFLATABLE POLITICAL GLOBE,48,0.85,France
32,536370,VINTAGE HEADS AND TAILS CARD GAME,24,1.25,France
...,...,...,...,...,...
387471,581001,RABBIT NIGHT LIGHT,24,1.79,France
387485,581001,ALARM CLOCK BAKELIKE GREEN,24,3.75,France
389063,581171,GINGERBREAD MAN COOKIE CUTTER,24,1.25,France
389074,581171,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,0.29,France
389081,581171,RABBIT NIGHT LIGHT,24,1.79,France

**Task 47: Display transactions from December 2010.**

In [104]:
df[(df['InvoiceDate'].dt.year==2010)&(df['InvoiceDate'].dt.month==12)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,Product Name Length
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,Q4,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,Q4,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25665,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,12,23,16,Thursday,Q4,33
25666,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,Thursday,Q4,21
25667,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,Thursday,Q4,22
25668,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,12,23,16,Thursday,Q4,27
25669,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,12,23,16,Thursday,Q4,19

**Task 48: Display transactions that occurred on weekends.**

In [105]:
df[df['InvoiceDate'].dt.dayofweek>=5]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,Product Name Length
4943,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,Sunday,Q4,33
4944,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,Sunday,Q4,32
4945,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,Sunday,Q4,31
4946,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,Q4,30
4947,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,Sunday,Q4,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381605,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,12,4,16,Sunday,Q4,25
381606,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,12,4,16,Sunday,Q4,18
381607,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,12,4,16,Sunday,Q4,23
381608,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,12,4,16,Sunday,Q4,32
381609,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,12,4,16,Sunday,Q4,7

**Task 49: Display the top 10 transactions by TotalPrice.**

In [107]:
df.sort_values(by='TotalPrice',ascending=False).head(10)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,Product Name Length
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,Friday,Q4,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,Tuesday,Q1,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,Friday,Q2,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,Tuesday,Q2,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,Tuesday,Q3,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,Monday,Q2,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,Tuesday,Q1,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,Thursday,Q4,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,Tuesday,Q1,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,Monday,Q2,34

**Task 50: Display the bottom 15 transactions by TotalPrice.**

In [111]:
df.sort_values(by='TotalPrice',ascending=False).tail(15)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,Product Name Length
282970,570983,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-13 11:57:00,0.120,14963,UK,0.120,2011,10,13,11,Thursday,Q4,27
390034,581310,22422,TOOTHPASTE TUBE PEN,1,2011-12-08 11:43:00,0.120,16442,UK,0.120,2011,12,8,11,Thursday,Q4,19
297409,572291,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-23 12:46:00,0.120,16931,UK,0.120,2011,10,23,12,Sunday,Q4,27
226996,565426,21403,BLUE EGG SPOON,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,Q3,15
226985,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,Sunday,Q3,28
184362,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,7,18,11,Monday,Q3,35
362505,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,Thursday,Q4,30
167801,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,Monday,Q2,30
176900,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,Friday,Q3,30
196908,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,Sunday,Q3,6
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,Friday,Q4,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,Sunday,Q3,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,Monday,Q3,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,Tuesday,Q3,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,Friday,Q2,26

**Task 51: Find all transactions from either UK, Germany, or France.**

In [113]:
df[df['Country'].isin(['UK','Germany','France'])]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,Product Name Length
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,Wednesday,Q4,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,Wednesday,Q4,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,Wednesday,Q4,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,Friday,Q4,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,Friday,Q4,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,Q4,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,Friday,Q4,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,Friday,Q4,29

**Task 52: Find transactions where TotalPrice is above the 95th percentile.**

In [114]:
df[df['TotalPrice']>df['TotalPrice'].quantile(0.95)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,Product Name Length
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,Q4,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,Wednesday,Q4,25
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,Wednesday,Q4,35
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,Wednesday,Q4,32
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,Wednesday,Q4,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392610,581579,23313,VINTAGE CHRISTMAS BUNTING,15,2011-12-09 12:19:00,4.95,17581,UK,74.25,2011,12,9,12,Friday,Q4,25
392618,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,UK,71.60,2011,12,9,12,Friday,Q4,22
392651,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777,UK,88.80,2011,12,9,12,Friday,Q4,31
392675,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,Friday,Q4,29
392676,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,Friday,Q4,21